name = "python-patch-override-no-patch"
description = "The user requires a package which requires a Python version with a patch version and the user provides a target version without a patch version."

[root]
requires = ["a==1.0.0"]

[expected]
satisfiable = false
explanation = "Since the resolver is asked to solve with 3.8, the minimum compatible Python requirement is treated as 3.8.0."

[packages.a.versions."1.0.0"]
requires_python = ">=3.8.4"

[resolver_options]
python = "3.8"

[environment]
python = "3.8.18"
