name: Check

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  run-checks:
    name: Check python-${{ matrix.python-version }}, ${{ matrix.os }}
    timeout-minutes: 5

    strategy:
      matrix:
        os:
          - "ubuntu-latest"
        python-version:
          - "3.12"

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: "${{ matrix.python-version }}"

      - name: Check Python lint
        run: |
          uv tool run -- ruff check . --config pyproject.toml

      - name: Check Python formatting
        run: |
          uv tool run -- ruff format --check .  --config pyproject.toml

  typos:
    runs-on: ubuntu-latest
    name: Check typos
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@master
