name: Check

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  run-checks:
    name: Check python-${{ matrix.python-version }}, ${{ matrix.os }}
    timeout-minutes: 5

    strategy:
      matrix:
        os:
          - "ubuntu-latest"
        python-version:
          - "3.12"

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6.8.0

      - name: Check Python lint
        run: uvx ruff check . --config pyproject.toml

      - name: Check Python formatting
        run: uvx ruff format --check .  --config pyproject.toml

      - name: Check Scenarios formatting
        run: |
          npm ci
          npx prettier --check "scenarios/**/*.{toml,json,yaml}"

  typos:
    runs-on: ubuntu-latest
    name: Check typos
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: crate-ci/typos@93cbdb2d23269548cf0db0f74d0bc6a09a3f0d5c # v1.43.0
